{% extends "base.html" %}

{% block content %}
<h1>All Blog Posts</h1>

{% if posts|length == 0 %}
<p>Waiting on the first post</p>
{% else %}
    <ul>
        {% for post in posts %}
        <li>
            <h2><a href='/singlepost?post_id={{post.id}}'>{{post.title}}</a></h2>
            <p>{{post.blog}}</p>
            <p>writen by <a href='/usersposts?user_id={{post.owner.id}}'>{{post.owner.username}}</a></p>
        </li>
        <hr/>

        {% endfor %}
    </ul>
{% endif %}

{% endblock %}